.logdiv {
    background-image: url('https://img.freepik.com/premium-vector/padlock-with-keyhole-icon-personal-data-security-illustrates-cyber-data-information-privacy-idea-blue-color-abstract-hi-speed-internet-technology_542466-600.jpg?semt=ais_hybrid&w=740');
background-size: cover; 
background-repeat: no-repeat;
background-position: center; 
}

.signdiv {
    background-image: url('https://cmsv2-assets.apptegy.net/uploads/23734/file/3401183/b4400da3-fee0-4e33-81ad-340c22bb5a2b.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 

}